body
{
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: center;
}

h1
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #A0A0A0;
}

h2
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: black;
}

p
{
  color: #A0A0A0;
  width: 100%
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

div
{
  display: flex;
}

a:link
{
  color: #A0A0A0;
}
a:visited
{
  color: #A0A0A0;
}

img
{
  max-width: 100%;
  max-height: 100%;
}

ul
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}


.banner
{
  background-color: black;
  justify-content: center;
  max-width: 1050px;
}

.sidebyside
{
  flex-direction: row;
  max-width: 1050px;
  justify-content: center;
}

.leftside
{
  background-color: #500050;
  align-items: center;
  width: 15%;
  flex-direction: column;
  padding: 50px;
  margin: 5px;
  border-radius: 15px;
  min-height: 100%;
}

.rightside
{
  background-color: #500050;
  justify-content: left;
  width: 80%;
  flex-direction: column;
  padding: 50px;
  margin: 5px;
  border-radius: 15px;
}
